<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Event | Events@NYU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='poster.css') }}">
</head>
<body>
<div class="pageheader">
    <a href="{{ url_for('dashboard') }}" class="backarrow">←</a>
    <h1>Edit Event</h1>
</div>

<form method="POST" action="/posteredit/{{ event.id }}">
    <label>Event Title</label>
    <input type="text" name="title" value="{{ event.title }}">

    <label>Description</label>
    <textarea name="description">{{ event.description }}</textarea>

    <label>Date</label>
    <input class="auth-form__input" type="date" name="date" value="{{ event.date_input }}" required>

    <label>Time</label>
    <input class="auth-form__input" type="time" name="time" value="{{ event.time_input }}" required>

    <label>Event Location</label>
        <input type="text" name="location" value="{{ event.location }}">

    <label>Capacity (optional)</label>
    <input class="auth-form__input" type="number" name="capacity" min="1" placeholder="Leave blank for unlimited" value="{{ event.capacity or '' }}">    

    <label>Category</label>
        <select name="category">
            <option {% if event.category == "Academic" %}selected{% endif %}>Academic</option>
            <option {% if event.category == "Sports" %}selected{% endif %}>Sports</option>
            <option {% if event.category == "Arts" %}selected{% endif %}>Arts</option>
            <option {% if event.category == "Social" %}selected{% endif %}>Social</option>
            <option {% if event.category == "Other" %}selected{% endif %}>Other</option>
        </select>
    <button type="submit">Save Changes</button>
</form>

<a href="{{ url_for('dashboard') }}" class="cancelbutton">Cancel</a>

</body></html>